/* **********************
.               DEFAULT
*********************** */

body{
     margin: 0;
     padding: 0;
     background-color: darkcyan;
     font-family: tahoma, Verdana, Arial, sans-serif;
     font-size: 16px;
     box-sizing: border-box;
}

/*  *************************
.          HEADER SECTION
***************************/

#header{
     margin: 10px;
     background-color: hsl(345, 100%, 17%);
     height: 60px;
}


/*  *************************
.          NAVBAR SECTION
***************************/

#navbar ul{
     text-align: center;
     list-style-type: none;
     margin: 10px;
     padding: 10px;
     background-color:  hsl(345, 100%, 17%);
}

#navbar ul li{
     display: inline;
}

#navbar ul li a{
     text-decoration: none;
     color: white;
     padding: .2em 1em;
}


#navbar ul li a:hover{
     text-decoration: none;
     color: black;
     padding: .2em 1em;
     background-color: white;
}

/*  ***********************************
.         SIDE-RIGHT (SIDE-BAR) SECTION
*************************************/
.side-right{
     margin: 10px;
     margin-top: 0;
     padding: 10px;
     border-radius: 10px;
     background-color: green;

     box-sizing: border-box;

     width: 250px;
     float: right;
}

.img-side-right{
     margin: 10px;
     margin-top: 0px;;
     border-radius: 10px;

     width: 250px;
     float: right;
     clear: both;

     opacity: 1;
     transition: 0.5s ease;
}


.img-side-right:hover{
     opacity: 0.6;
}

/*  *************************
.        MAIN SECTION
***************************/

.main{
     margin: 10px;
     margin-right: 270px;
     padding: 10px;
     background-color: hsl(345, 100%, 50%);
     font-size: 110%;;
     border-radius: 10px;
}


/*  *************************
.        FOOTERSECTION
***************************/

#footer{
     margin: 10px;
     padding: 20px;
     background-color: hsl(345, 100%, 17%);
     text-align: center;
     line-height: 1px;

     color: hsl(360, 100%, 95%);
}


#footer ul{
     list-style-type: none;
     margin: 10px;
     padding: 10px;
     background-color:  hsl(345, 100%, 17%);
}

#footer ul li{
     display: inline;
}

#footer ul li a{
     text-decoration: none;
     color: white;
     padding: .2em 1em;
}


#footer ul li a:hover{
     text-decoration: none;
     color: black;
     padding: .2em 1em;
     background-color: white;
}

/*  *************************
  HEADINGS and PARAGRAPHS
***************************/
h1{
     font-size: 120%;
     color: hsl(360, 100%, 100%);
     text-shadow:     1px 1px 0 hsl(345, 100%, 50%),
                              3px 3px 0 #000;
}

h2{
     color: #fff;
     text-shadow: 4px 4px 0 hsl(360, 100%, 30%);
}

p{
     text-align: justify;
     text-indent: 100px;
     color: yellow;
     font-family: tahoma;
}

.side-right p{
     color: hsl(300, 100%, 100%);
     text-indent: 0px;
}

h3{
     font-size: 250%;
     text-align: center;
     font-family: "Century Gothic", Arial, sans-serif;
     color: hsl(360, 100%, 100%);
     text-shadow: 3px 3px 0 hsl(360, 100%, 35%);
     margin: 0;

     position: relative;
     top: 50%;

     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);;
}
