html{
  min-height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
  
  background-color: rgba(233,30,99,0.1);
}
